# Library from Frontend
flask
flask_cors
flask_login
flask_bcrypt
flask_sqlalchemy
flask_migrate
gunicorn
flask_dance
flask_wtf
google
google.genai
werkzeug.securit

# Library from AI Developer
openai
pandas

dotenv