# Library from Frontend
flask
flask_cors

flask_sqlalchemy
flask_migrate
flask_jwt_extended

gunicorn
google
google.genai


supabase
vecs
postgrest
gotrue

# Library from AI Developer
openai
pandas

dotenv