#homeCarousel .carousel-item {
    position: relative;
}

#homeCarousel .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#homeCarousel {
    position: relative;
}

.static-caption {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

    pointer-events: none;

    font-family: 'Caprasimo', cursive;
}

.static-caption a {
    pointer-events: auto;
}

.static-caption h1 {
    font-size: 3rem;
}

.static-caption .btn-warning:hover {
    background-color: #ffda83;
    border-color: #ffda83;
    color: #212529;
}